## Programming Task - 2

#### 1.List Comprehension

In [ ]:
if __name__ == '__main__':
    x = int(input())
    y = int(input())
    z = int(input())
    n = int(input())
ans = [[i, j, k] for i in range(x + 1) for j in range(y + 1) for k in range(z + 1) if i + j + k != n]
print(ans)

1
1
2
3
[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 1, 0], [0, 1, 1], [1, 0, 0], [1, 0, 1], [1, 1, 0], [1, 1, 2]]

#### 2.Find the runner-up Score

In [1]:
if __name__ == '__main__':
    n = int(input())
    arr = map(int, input().split())
    arr2 = list(set(arr))
    arr2.sort()
    print(arr2[-2])

5
2 3 6 6 5
5

## Nested List

In [6]:
if __name__ == '__main__':
    alist = []
    for i in range(int(input())):
        name = input()
        score = float(input())
        alist.append([name, score])
second_highest = sorted(set([score for name, score in alist]))[1]
print('\n'.join(sorted([name for name, score in alist if score == second_highest])))

5
Harry
37.21
Berry
37.21
Tina
37.2
Akriti
41
Harsh
39
Berry
Harry

#### 3.Finding the percentage

In [ ]:
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()
    na = student_marks[query_name]
    avg = sum(na)/len(na)
    print("%.2f" % avg)

####4.Tuples

In [2]:
if __name__ == '__main__':
    n = int(input())
    integer_list = map(int, input().split())
    print(hash(tuple(integer_list)))

2
1 2
-3550055125485641917

5.Introduction to sets

In [3]:
def average(array):
    # Introduction to Sets in Python - Hacker Rank Solution START
    sum_array = sum(set(array))
    len_array = len(set(array))
    output = sum_array/len_array
    return output;
    # Introduction to Sets in Python - Hacker Rank Solution END

if __name__ == '__main__':
    n = int(input())
    arr = list(map(int, input().split()))
    result = average(arr)
    print(result)

10
161 182 161 154 176 170 167 171 170 174
169.375

6.No Idea

In [4]:
# Enter your code here. Read input from STDIN. Print output to STDOUT
if __name__ == "__main__":
    happiness = 0
    n, m = map(int, input().strip().split(' '))
    arr = list(map(int, input().strip().split(' ')))
    
    good = set(map(int, input().strip().split(' ')))
    bad = set(map(int, input().strip().split(' ')))
    
    for i in arr:
        if i in good:
            happiness += 1
        elif i in bad:
            happiness -= 1
    print(happiness)

3 2
1 5 3
3 1
5 7
1

7.Set.add()

In [5]:
# Enter your code here. Read input from STDIN. Print output to STDOUT
N = int(input())

countries = set()

for i in range(N):
    countries.add(input())

print(len(countries))

7
UK
China
USA
France
New Zealand
UK
France
6

8.Set .discard(), .remove() & .pop()

In [6]:
import pdb
m = int(input())
lst=[int(j) for j in input().strip().split()]
lst.reverse()
st=set(lst)
n= int(input())
for i in range(n):
    command = input().strip().split()
    #pdb.set_trace()
    if len(command) ==1 :
        methodToCall = getattr(st, command[0])
        methodToCall()
        #print(st)   
    else:
        commd, *args= [command[0], int(command[1])]
        getattr(st, commd)(*args)
        #print(st)   
print(sum(st))

9
1 2 3 4 5 6 7 8 9
10
pop
remove 9
discard 9
discard 8
remove 7
pop
discard 6
remove 5
pop
discard 5
4

9.Union Operation

In [7]:
N1 = int(input())
storage1 = set(input().split());

N2 = int(input())
storage2 = set(input().split());

storage3 = storage1.union(storage2)

print(len(storage3))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
13

10.Intersection

In [9]:
N1 = int(input())
storage1 = set(input().split())

N2 = int(input())
storage2 = set(input().split())

storage3 = storage2.intersection(storage1)

print(len(storage3))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
5

11.Difference

In [11]:
# Enter your code here. Read input from STDIN. Print output to STDOUT
N1 = int(input())
storage1 = set(input().split())

N2 = int(input())
storage2 = set(input().split())

storage3 = storage1.difference(storage2)

print(len(storage3))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
4

11.Set .symmetric_difference() Operation

In [14]:
N1 = int(input())
storage1 = set(input().split())

N2 = int(input())
storage2 = set(input().split())

storage3 = storage1.symmetric_difference(storage2)

print(len(storage3))

9
1 2 3 4 5 6 7 8 9
9
10 1 2 3 11 21 55 6 8
8

12.Set Mutations

In [15]:
len_set = int(input())

storage = set(map(int, input().split()))

op_len = int(input())

for i in range(op_len):
    operation = input().split()
    if operation[0] == 'intersection_update':
        temp_storage = set(map(int, input().split()))
        storage.intersection_update(temp_storage)
    elif operation[0] == 'update':
        temp_storage = set(map(int, input().split()))
        storage.update(temp_storage)
    elif operation[0] == 'symmetric_difference_update':
        temp_storage = set(map(int, input().split()))
        storage.symmetric_difference_update(temp_storage)
    elif operation[0] == 'difference_update':
        temp_storage = set(map(int, input().split()))
        storage.difference_update(temp_storage)
    else :
        assert False

print(sum(storage))

16
 1 2 3 4 5 6 7 8 9 10 11 12 13 14 24 52
4
 intersection_update 10
 2 3 5 6 8 9 1 4 7 11
update 2
55 66
 symmetric_difference_update 5
 22 7 35 62 58
 difference_update 7
 11 22 35 55 58 62 66
38

13. Captain's room

In [16]:
N = int(input())

storage = map(int, input().split())
storage = sorted(storage)

for i in range(len(storage)):
    if(i != len(storage)-1):
        if(storage[i]!=storage[i-1] and storage[i]!=storage[i+1]):
            print(storage[i])
            break;
    else:
        print(storage[i])

5
1 2 3 6 5 4 4 2 5 3 6 1 6 5 3 2 4 1 2 5 1 4 3 6 8 4 3 1 5 6 2
8